@page "/dec2bin"
@rendermode InteractiveServer

<h3>Dec2Bin</h3>

<input type="number" @bind="n"/>
<button @onclick="Calc"> -> </button>
<label>@result</label>

@code {
	int n;
	int result;
	void Calc()
	{
		result = Convert.ToInt32(Convert.ToString(n, 2));
	}
}
