<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorAcademy</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groups" Match="NavLinkMatch.Prefix">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Groups
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="directions" Match="NavLinkMatch.Prefix">
                <span class="bi bi-book-fill" aria-hidden="true"></span> Directions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students" Match="NavLinkMatch.Prefix">
                <span class="bi bi-mortarboard-fill" aria-hidden="true"></span> Students
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teachers" Match="NavLinkMatch.Prefix">
                <span class="bi bi-person-video" aria-hidden="true"></span> Teachers
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="disciplines" Match="NavLinkMatch.Prefix">
                <span class="bi bi-journal-text" aria-hidden="true"></span> Disciplines
            </NavLink>
        </div>
    </nav>
</div>

