@page "/disciplines/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Discipline</h2>
    <hr />
    @if (discipline is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-3">discipline_name</dt>
            <dd class="col-sm-10">@discipline.discipline_name</dd>
            <dt class="col-sm-3">number_of_lessons</dt>
            <dd class="col-sm-10">@discipline.number_of_lessons</dd>
        </dl>
        <div>
            <a href="@($"/disciplines/edit?discipline_id={discipline.discipline_id}")">Edit</a> |
            <a href="@($"/disciplines")">Back to List</a>
        </div>
    }
</div>

@code {
    private Discipline? discipline;

    [SupplyParameterFromQuery]
    private string? discipline_id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(discipline_id) || !short.TryParse(discipline_id, out short id))
        {
            NavigationManager.NavigateTo("notfound");
            return;
        }
        using var context = DbFactory.CreateDbContext();
        discipline = await context.Disciplines.FirstOrDefaultAsync(m => m.discipline_id == id);

        if (discipline is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
